######################
# Intellij
######################
**/.idea/*
!.idea/codeStyleSettings.xml
!.idea/codeStyles
!.idea/runConfigurations
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/
/out
/out-tsc/
**/ui/out-tsc/

######################
# Maven
######################
/log/
**/target/
.mvn/maven.config

######################
# Maven Wrapper
######################
!.mvn/wrapper/maven-wrapper.jar

######################
# Package Files
######################
*.jar
*.war
*.ear
*.db

######################
# Mac OSX
######################
.DS_Store
.svn

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

######################
# Directories
######################
/bin/
/deploy/

######################
# Logs
######################
*.log

######################
# Others
######################
*.class
*.*~
*~
.merge_file*
*.bundle




